[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas-datareader = "*"
pandas = "<0.25.0"
pyaudio = "*"
soundfile = "*"
scipy = "*"
matplotlib = "*"
dash = "*"
beautifulsoup4 = "*"
selenium = "*"

[requires]
python_version = "3.7"
